body{
  background-color: rgb(129, 248, 248);
  text-align: center;
}
.App-logo {
  height: 20rem;
}

.Mission-statement {
  font-size: 20px;
}

.Register{
  font-size: 18px;
  margin-top: 3rem;
}

.Links{
  position: sticky;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20rem 25rem 0 25rem;
  padding-bottom: 1rem;
}