body{
  /* background-color: rgb(197, 196, 196); */
  text-align: center;
}
.Ornaments-banner{
  width: 100%;
  height: 20rem;
}

.App-logo {
  height: 25rem;
  padding-top: 1rem;
  margin-top: -20rem;
}

.Mission-statement {
  font-size: 20px;
}

.Register{
  font-size: 18px;
  margin-top: 3rem;
}

.Links{
  background-color: white;
  position: sticky;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20rem 25rem 0 25rem;
  padding-bottom: 1rem;
}