body{
  background-color: darkslategray;
  text-align: center;
}
.App-logo {
  height: 20rem;
}

.Mission-statement {
  font-size: 20px;
  color: white;
}

.Register{
  font-size: 18px;
  color: white;
  margin-top: 3rem;
}

.Links{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 15rem 0 15rem;
}